.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# intermediate results
/_site/
/_book/
/_cache/
/figures/
.rmarkdown

# accidental pdf rendering
index.aux
index.log
index.pdf
index.tex
index.toc

# spatial files needed for ames plot
R/iowa_highway.shx
R/iowa_highway.shp
R/iowa_highway.dbf
R/census_api_key.txt
.luarc.json
*.log
premade/nnet_end.synctex.gz
premade/nnet_start.synctex.gz
premade/nnet_start2.pdf

**/*.quarto_ipynb
3a4_Y_MACCS_.csv
3a4_X_PubChem_.csv
3a4_X_MACCS_.csv
3a4_X_KRFP_.csv
