/*-- scss:defaults --*/

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300&display=swap');

$whiteblue:             #fcfefe;
$muted-black:           #595959;
$tangerine:             #F28500;
$scarlet:               #B32800;
$brewer-set1-blue:      #377EB8;
$blue-screen-o-death:   #0031b3;

// Base document colors
$body-bg:    $whiteblue;          // main page background
$sidebar-bg: $whiteblue;          // LHS contents background
$link-color: $brewer-set1-blue;

// Other base document features
$toc-font-size: .7rem;


/*-- scss:rules --*/

h1, h2, h3, h4 {
  color: $scarlet;
}

// make the LHS sidebar text smaller
.sidebar-item-text {
  font-size: .7rem;
}

// wider line spacing in references

.references {
  line-height: 1.8;
}

// smaller spacing of block quotes
.blockquote{
  padding: .1rem 1.25rem;
  line-height: 1.4;
}

.header-section-number {
  color: $scarlet;
}

code {
    color: $blue-screen-o-death;
}

